<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link type="text/css" rel="stylesheet" href="/styles/materialize.css"  media="screen,projection"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task24: CV/Resume</title>
</head>
<body>
    <div id='divBody'>
        <nav class="black" role="navigation">
            <div class="nav-wrapper container">
                a(class="brand-logo", id="logo-container")=firstname + ' ' + lastname
                <ul id="nav-mobile" class="sidenav">
                    <li>
                        <div class='blackText'>
                            <div id='person'>
                            img(src=imgURL)
                            a(id='title')=title
                            <br>
                            </div>
                            <div id='personInfo'>
                                h4 About me
                                a=firstname + ' ' + lastname
                                a=date
                                a=address
                                a=nationality
                            </div>
                            <div id='contact'>
                                h4 Contact
                                a(href='mailto:'+email)=email
                                a='+47 ' + phone
                            </div>

                            <div id='education'>
                                h4 Education
                                a=education
                            </div>
                        </div>
                        <div id='social'>
                            h4 Social media
                            <div>
                                a(href=github, class="fa fa-github")= ''
                                a(href=linkedin, class="fa fa-linkedin")= ''
                            </div>
                        </div>
                    </li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
        <div id='content'>
            <h1>Om meg</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut lectus sed ante bibendum convallis sed vel nibh. Maecenas vitae orci massa. Praesent eget leo eget orci tempor semper. Aliquam vehicula tincidunt augue sit amet maximus. Sed nisl ex, tempus tincidunt magna non, pulvinar malesuada nulla. Sed sed tellus velit. Donec finibus porttitor massa, et porta erat lacinia id. Pellentesque leo tellus, auctor non nulla eu, tincidunt lacinia ex. Nullam semper lectus tincidunt velit volutpat, ac rutrum nunc dapibus. Maecenas ac porttitor velit. Vivamus ac aliquam quam. Morbi varius orci sapien, ac egestas mauris luctus ac.</p>
            <h1>Prosjekterfaring</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut lectus sed ante bibendum convallis sed vel nibh. Maecenas vitae orci massa. Praesent eget leo eget orci tempor semper. Aliquam vehicula tincidunt augue sit amet maximus. Sed nisl ex, tempus tincidunt magna non, pulvinar malesuada nulla. Sed sed tellus velit. Donec finibus porttitor massa, et porta erat lacinia id. Pellentesque leo tellus, auctor non nulla eu, tincidunt lacinia ex. Nullam semper lectus tincidunt velit volutpat, ac rutrum nunc dapibus. Maecenas ac porttitor velit. Vivamus ac aliquam quam. Morbi varius orci sapien, ac egestas mauris luctus ac.</p>
            <h1>Utdannelse</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut lectus sed ante bibendum convallis sed vel nibh. Maecenas vitae orci massa. Praesent eget leo eget orci tempor semper. Aliquam vehicula tincidunt augue sit amet maximus. Sed nisl ex, tempus tincidunt magna non, pulvinar malesuada nulla. Sed sed tellus velit. Donec finibus porttitor massa, et porta erat lacinia id. Pellentesque leo tellus, auctor non nulla eu, tincidunt lacinia ex. Nullam semper lectus tincidunt velit volutpat, ac rutrum nunc dapibus. Maecenas ac porttitor velit. Vivamus ac aliquam quam. Morbi varius orci sapien, ac egestas mauris luctus ac.</p>
            <h1>Arbeidserfaring</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut lectus sed ante bibendum convallis sed vel nibh. Maecenas vitae orci massa. Praesent eget leo eget orci tempor semper. Aliquam vehicula tincidunt augue sit amet maximus. Sed nisl ex, tempus tincidunt magna non, pulvinar malesuada nulla. Sed sed tellus velit. Donec finibus porttitor massa, et porta erat lacinia id. Pellentesque leo tellus, auctor non nulla eu, tincidunt lacinia ex. Nullam semper lectus tincidunt velit volutpat, ac rutrum nunc dapibus. Maecenas ac porttitor velit. Vivamus ac aliquam quam. Morbi varius orci sapien, ac egestas mauris luctus ac.</p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/materialize.js"></script>
    <script src="/js/init.js"></script>
</body>
</html>