<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Line's CV/Resume</title>
</head>
<body>
    <div id="root">
        <aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
            <div class="mdc-drawer__header">
                img(src=imgURL)
                h3(class="mdc-drawer__title")=firstname + ' ' + lastname
                h6(class="mdc-drawer__subtitle")=title
            </div>
            <div class="mdc-drawer__content">
                <nav class="mdc-list">
                    <a class="mdc-list-item" tabindex="-1"><i class="material-icons mdc-list-item__graphic" aria-hidden="true">calendar_today</i>#{date}</a>
                    <a class="mdc-list-item" tabindex="-1"><i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>#{address}</a>
                    <a class="mdc-list-item" tabindex="-1"><i class="material-icons mdc-list-item__graphic" aria-hidden="true">language</i>#{nationality}</a>
                    <a class="mdc-list-item" tabindex="-1"><i class="material-icons mdc-list-item__graphic" aria-hidden="true">work</i>#{currentJob}</a>
                    <hr class="mdc-list-divider">
                    <h6 class="mdc-list-group__subheader">Kontakt</h6>
                    <a class="mdc-list-item" href="mailto:"+email tabindex="-1"><i class="material-icons mdc-list-item__graphic" aria-hidden="true">email</i>#{email}</a>
                    <a class="mdc-list-item" tabindex="-1"><i class="material-icons mdc-list-item__graphic" aria-hidden="true">phone_iphone</i>+47 #{phone}</a>
                    <hr class="mdc-list-divider">
                    <h6 class="mdc-list-group__subheader">Sosiale medier</h6>
                    <a class="mdc-list-item" href=#{github} target="_blank" tabindex="-1"><i class="material-icons mdc-list-item__graphic" aria-hidden="true">insert_link</i>GitHub</a>
                    <a class="mdc-list-item" href=#{linkedin} target="_blank" tabindex="-1"><i class="material-icons mdc-list-item__graphic" aria-hidden="true">insert_link</i>LinkedIn</a>
                    <h6 class="mdc-list-group__subheader">REST Endpoint</h6>
                    <a class="mdc-list-item" href="/data" target="_blank" tabindex="-1"><i class="material-icons mdc-list-item__graphic" aria-hidden="true">settings</i>/data</a>
                </nav>
            </div>
        </aside>

        <div class="mdc-drawer-app-content">
            <header class="mdc-top-app-bar drawer-top-app-bar" id="app-bar">
                <div class="mdc-top-app-bar__row">
                    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                        <button class="material-icons mdc-top-app-bar__navigation-icon mdc-ripple-upgraded--unbounded mdc-ripple-upgraded" style="--mdc-ripple-fg-size:28px; --mdc-ripple-fg-scale:1.71429; --mdc-ripple-left:10px; --mdc-ripple-top:10px; color: black;">menu</button>
                        <span class="mdc-top-app-bar__title">#{firstname} #{lastname}</span>
                    </section>
                </div>
            </header>
            <main class="main-content" id="main-content">
                <div id='content'>
                    <h1>About me</h1>
                    <p>Line is currently employed by Experis Academy Norway, where she will become a fullstack Java developer specializing in front-end development. This gives her good expertise in java and javascript as well as variousframeworks such as Angular and React. During her time at Experis Academy, the developer will work in a team where they will solve a real case.The developer has a bachelor's degree in information science at the University of Bergen. <br><br>Line is a sociable person. She is positive and hardworking. The consultant is more than willing to help others and ask for help even when she needs it. One can learn a lot from each other and from collaborating. This is something she has learned through studies. Line is concerned with quality of what she delivers. Having competed in cheerleading for 6 years, the consulate has developed a competition instinct that will make her feel the best of what she does and is more than willing to do the little "extra" when needed. </p>

                    <br>
                    <hr>
                    <h1>Projects</h1>
                    <h4>Flixnet, 2017</h4>
                    <p>In the subject of client programming, the students at UiB were given the task of creating a website ala IMBD. Line collaborated with another student in the class through this project. They had already been assigned a database that they should link to, so that they could focus on front-end development and design.<br><br> Line's task was to encode the page itself in javascript, CSS and HTML5. The partner of Line worked with the design and then coded Line it. There was a lot of collaboration and the roles were changed sometimes. The website should also work on tablets and phones. Therefore, Line also worked a lot with responsive web design to make this work.</p> <br>
                    <h4>FoodStock, 2017</h4> 
                    <p>In the course System development at UiB, the students were tasked with developing an app. Here they were to work in teams and be able to choose between the development methods kanban or scrum. Line was in a group of 4 and chose to use scrum and worked from it as best it could. The app group developed they called FoodStock. This app meant that one should always have control over which food one had at home so that one avoids throwing more food than necessary and at the same time saving money. The app was never completed because it was not necessary and it was too short, but they developed a prototype that was presented at the exam.<br><br>Line was responsible for creating the database. Her tasks were first to create an EER model to map out how the database would look. Furthermore, she turned this into a relational model for a better overview. Eventually, planning and creation of the database itself began with SQL, but due to lack of time, she did not complete this. She also helped the others on the group if they needed help on their duties. Line was mainly given the task of databases because she wanted and was the best of the group for this. The others worked with what they thought was fun and were better at, such as design. </p>                                                                                                                                                                                                                        
                    <br>
                    <hr>
                    <h1>Education</h1>
                    <h4>University of Bergen, 2015-2018</h4>
                    <p>Through her studies she has learned both front-end, back-end and database management. During the studies, Line has gained competence in several programming languages ​​and development methods through projects. In the course System development where her group developed an app, SQL. EER modeling and relationship model were used, and they they worked in the development method scrum as much as possible. Furthermore, she has also worked with java in a separate school project and javascript, HTML5 and CSS in another.</p>
                    <br>
                    <hr>
                    <h1>Work experience</h1>
                    <h4>Coop Extra Apeltun, 2013-2019</h4>
                    <p>Throughout the 5 years Line has worked at Coop Extra Apeltun, she has acquired more and more responsibility, such as lock manager. The tasks have been varied when she has been in the box, mail in store, bake-off, betting, refilling and general customer care. At times it has been busy and at a high pace with some stress. This has made Line manage to keep the head cold in stressful situations and still provide good service. </p>
                    <br>
                    <hr>
                    <footer>
                        <small>&copy; Copyright 2019, Jan Le & Line Sævold</small>
                    </footer>
                </div>
            </main>
        </div>
    </div>

    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="/js/material.js"></script>
</body>
</html>